body {
    margin: 0;
    overflow: hidden;
    background-color: #f9f9f9;
    font-family: "Microsoft YaHei", sans-serif;
  }
  
  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  
  #ui {
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 10;
  }
  
  #ui button {
    background-color: #b91c1c;
    color: white;
    border: none;
    padding: 8px 12px;
    margin-right: 10px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  #ui button:hover {
    background-color: #991b1b;
  }
  
  #ui a {
    color: #1d4ed8;
    margin-left: 15px;
    text-decoration: underline;
  }
  